body {
    background-color: rgb(255, 254, 249);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome {
    background-color: rgb(96, 132, 96);
    color: rgb(253, 255, 248);
    padding: 50px;
}

.abt {
    text-align: left;
    margin-left: 4%;
}

.output {
    white-space: pre-wrap;
    border: 10px dashed rgb(0, 72, 0);
}

.ave {
    background-color: rgb(0, 112, 0);
    padding: 100px;
    color: rgb(255, 253, 219);
    border-radius: 10px;
    margin-right: 4%;
}

.cluboutput {
    white-space: pre-wrap;
    border: 10px dashed rgb(0, 72, 0);
    text-align: left;
}
